/.idea/
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/version
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/.filecache
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/app.dill
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/debug_universal_framework.stamp
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/debug_unpack_ios.stamp
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/flutter_assets.d
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/gen_localizations.stamp
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/kernel_snapshot.d
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/kernel_snapshot.stamp
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/outputs.json
.dart_tool/flutter_build/d5766cbce5d7a4bdef250758fc6e2aae/App.framework/App
build/cache.dill.track.dill
build/62f14693764db0ebbdcfdbb2f9f2aa8a/gen_localizations.stamp
build/ios/pod_inputs.fingerprint
build/ios/Debug-iphonesimulator/.last_build_id
build/ios/Debug-iphonesimulator/App.framework/App
build/ios/Debug-iphonesimulator/App.framework/Info.plist
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/AssetManifest.json
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/FontManifest.json
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/isolate_snapshot_data
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/vm_snapshot_data
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/Debug-iphonesimulator/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/FMDB
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Info.plist
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMDatabase.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMDatabaseAdditions.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMDatabasePool.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMDatabaseQueue.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMDB-umbrella.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMDB.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Headers/FMResultSet.h
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/FMDB/FMDB.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Flutter.framework/icudtl.dat
build/ios/Debug-iphonesimulator/Flutter.framework/Info.plist
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/Flutter.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterAppDelegate.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCallbackCache.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterChannels.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCodecs.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterDartProject.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngine.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngineGroup.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterMacros.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlatformViews.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlugin.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterTexture.h
build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterViewController.h
build/ios/Debug-iphonesimulator/Flutter.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/Flutter.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Info.plist
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Pods_Runner
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Headers/Pods-Runner-umbrella.h
build/ios/Debug-iphonesimulator/Pods_Runner.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeDirectory
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeRequirements
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeRequirements-1
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Pods_Runner.framework/_CodeSignature/CodeSignature
build/ios/Debug-iphonesimulator/Runner.app/AppFrameworkInfo.plist
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@2x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@3x.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
build/ios/Debug-iphonesimulator/Runner.app/Assets.car
build/ios/Debug-iphonesimulator/Runner.app/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/PkgInfo
build/ios/Debug-iphonesimulator/Runner.app/Runner
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCore.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreAudio.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreFoundation.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreGraphics.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreImage.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreMedia.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftDarwin.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftDispatch.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftFoundation.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftMetal.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftObjectiveC.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftos.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftQuartzCore.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftUIKit.dylib
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/FMDB.framework/FMDB
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/FMDB.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/FMDB.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/SQLCipher.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/SQLCipher.framework/SQLCipher
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/SQLCipher.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/sqflite_sqlcipher.framework/Info.plist
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/sqflite_sqlcipher.framework/sqflite_sqlcipher
build/ios/Debug-iphonesimulator/Runner.app/Frameworks/sqflite_sqlcipher.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64.swiftdoc
build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64.swiftmodule
build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/x86_64.swiftsourceinfo
build/ios/Debug-iphonesimulator/SQLCipher/SQLCipher.framework/Info.plist
build/ios/Debug-iphonesimulator/SQLCipher/SQLCipher.framework/SQLCipher
build/ios/Debug-iphonesimulator/SQLCipher/SQLCipher.framework/Headers/SQLCipher-umbrella.h
build/ios/Debug-iphonesimulator/SQLCipher/SQLCipher.framework/Headers/sqlite3.h
build/ios/Debug-iphonesimulator/SQLCipher/SQLCipher.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/SQLCipher/SQLCipher.framework/_CodeSignature/CodeResources
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/Info.plist
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/sqflite_sqlcipher
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/Headers/sqflite_sqlcipher-umbrella.h
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/Headers/SqfliteSqlCipherOperation.h
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/Headers/SqfliteSqlCipherPlugin.h
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/Modules/module.modulemap
build/ios/Debug-iphonesimulator/sqflite_sqlcipher/sqflite_sqlcipher.framework/_CodeSignature/CodeResources
build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
build/ios/iphonesimulator/Runner.app/AppFrameworkInfo.plist
build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon20x20@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon20x20~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon29x29~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon40x40~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon60x60@2x.png
build/ios/iphonesimulator/Runner.app/AppIcon60x60@3x.png
build/ios/iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon76x76~ipad.png
build/ios/iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
build/ios/iphonesimulator/Runner.app/Assets.car
build/ios/iphonesimulator/Runner.app/Info.plist
build/ios/iphonesimulator/Runner.app/PkgInfo
build/ios/iphonesimulator/Runner.app/Runner
build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCore.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreAudio.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreFoundation.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreGraphics.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreImage.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreMedia.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftDarwin.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftDispatch.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftFoundation.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftMetal.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftObjectiveC.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftos.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftQuartzCore.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/libswiftUIKit.dylib
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/ios/iphonesimulator/Runner.app/Frameworks/FMDB.framework/FMDB
build/ios/iphonesimulator/Runner.app/Frameworks/FMDB.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/FMDB.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/SQLCipher.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/SQLCipher.framework/SQLCipher
build/ios/iphonesimulator/Runner.app/Frameworks/SQLCipher.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/Frameworks/sqflite_sqlcipher.framework/Info.plist
build/ios/iphonesimulator/Runner.app/Frameworks/sqflite_sqlcipher.framework/sqflite_sqlcipher
build/ios/iphonesimulator/Runner.app/Frameworks/sqflite_sqlcipher.framework/_CodeSignature/CodeResources
build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/.filecache
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/app.dill
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/debug_ios_bundle_flutter_assets.stamp
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/debug_universal_framework.stamp
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/debug_unpack_ios.stamp
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/flutter_assets.d
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/gen_localizations.stamp
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/kernel_snapshot.d
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/kernel_snapshot.stamp
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/outputs.json
.dart_tool/flutter_build/a25360259ed101fbd9ea438505883666/App.framework/App
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
/.dart_tool/flutter_build/9b4f6a575d181828c3e847582ab8c2a8/
/build/
